*{
    box-sizing: border-box;
}
header
{
display: flex; height: 150px; width: 100%; background-color:aqua; position: fixed static;
}
.logo img
{
height: 150px; width: 150px; background-color: black;
}
.menu
{
    margin-left: 800px; 
}
ul
{
    display: flex; height: 80px; width: 30px; gap: 10px;padding-top: 60px;
}
ul li
{
    list-style:none; line-height: 5px; background-color: white; font-size: 20px; padding: 20px;
}
li a
{
    text-decoration: none; transition: 1s ease 1s; height: 20px;  width: 30px;
}
li a:hover
{
    color: brown; background-color: white;
}
#home
{
    height: 80vh; width: 100%; display: flex; justify-content: space-between; padding: 10px 200px;
}
.left
{
    font-size: 30px; width: 600px; display: flex;
}
.left{height: 70%;}
a{text-decoration: none;}
#home div h2
{
    width: 100px; padding-left: 10px; display: flex;
}
.skill
{
    color: aqua; font-size: 50px; display: flex;
}
#home p{ margin-top: 200px; margin-left:-50;}
.buttons
{
    display: flex; flex-direction: row; position:absolute; margin-top: 300px; margin-left: 200px; gap: 20px;
}
button{height: 50px; width: 65px;}
#projects
{
    display: grid; grid-template-columns: repeat(3,1fr); gap: 50px;
}
.heading
{
    font-size: 35px; text-align: center; font-weight: bold; text-shadow: 2px 2px red;
}
.card img
{
    height: 400px; width: 200px;
}
.card{text-align: center; box-shadow: 5px 5px black; transition: 3s ease;}
.card:hover{transform: skew(1deg);}
#contact
{
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    margin-top: 300px;
    margin-bottom: 50px;
}
form
{
    display: flex; flex-direction: column; gap: 20px; width: fit-content; box-shadow: 5px 5px 5px;
}
input{height: 30px; width:300px; border-radius:5px;}
textarea
{
    height: 200px; border-radius: 10px; border-color: black;
}
#about{margin: 100px; display: flex;}
figure img{height: 200px; width: 150px; clip-path: circle(120px); filter: grayscale();}
fig img:hover{filter: none;}
.about{display: flex; flex-direction: column;}
.data{ font-size: 20px; margin-top: -80px;}
@media screen and (max-width:800px) and (min-width:700px) {
 body{
 background-color: brown;
}

}
.SE{text-decoration: none;}